[Unit]
Description=QUBIC Monitoring web application
After=network-online.target qubic-data.service
Wants=network-online.target

[Service]
Type=simple
User=hamilton
WorkingDirectory=/srv/qubic/qubic-monitoring
Environment=QUBIC_PROJECT_DIR=/srv/qubic/qubic-monitoring
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=15s
KillSignal=SIGTERM
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
